{#
/**
 * Image Optimize plugin for Craft CMS
 *
 * OptimizedImages Field Settings
 *
 * @author    nystudio107
 * @copyright Copyright (c) 2017 nystudio107
 * @link      https://nystudio107.com
 * @package   ImageOptimize
 * @since     1.2.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("nystudio107\\imageoptimize\\assetbundles\\imageoptimize\\ImageOptimizeAsset") %}
{% do view.registerAssetBundle("nystudio107\\imageoptimize\\assetbundles\\optimizedimagesfield\\OptimizedImagesFieldAsset") %}

<div class="field" id="{{ id }}-fields">
    <div class="heading">
        <label id="variants-label" for="variants">Optimized Image Variants</label>
    </div>
    <div class="input ltr">
        <input type="hidden" name="variants" value="">

        <div class="matrix matrix-field" id="{{ id }}" style="position: relative;">
            <div class="variant-blocks">
                {% for variant in field.variants %}
                    <div class="matrixblock" data-id="{{ loop.index }}" data-type="normal" {% if loop.first %}tabindex="0" {% endif %}style="opacity: 1;">
                        <div class="titlebar">
                            <div class="blocktype"></div>
                            <div class="preview"></div>
                        </div>
                        <div class="actions">
                            <div class="status off" title="{{ 'Disabled'|t('app') }}"></div>
                            <a class="settings icon menubtn" title="{{ 'Actions'|t('app') }}" role="button"></a>
                            <div class="menu">
                                <ul class="padded">
                                    <li><a data-icon="plus" data-action="add">{{ "Add {type} above"|t('app', { type: 'variant' }) }}</a></li>
                                </ul>
                                <hr class="padded">
                                <ul class="padded">
                                    <li><a data-icon="remove" data-action="delete">{{ "Delete"|t('app') }}</a></li>
                                </ul>
                            </div>
                            <a class="move icon" title="{{ 'Reorder'|t('app') }}" role="button"></a>
                        </div>
                        <div class="fields">
                            <!-- width -->
                            {{ forms.textField({
                                label: 'Width',
                                instructions: "The width of the transformed images."|t('image-optimize'),
                                id: 'variants-' ~ loop.index0 ~ '-width',
                                name: 'variants[' ~ loop.index0 ~ '][width]',
                                value: field.variants[loop.index0]['width']
                            }) }}
                            <!-- aspectRatioX -->
                            {{ forms.textField({
                                label: 'aspectRatioX',
                                instructions: "The aspectRatioX of the transformed images."|t('image-optimize'),
                                id: 'variants-' ~ loop.index0 ~ '-aspectRatioX',
                                name: 'variants[' ~ loop.index0 ~ '][aspectRatioX]',
                                value: field.variants[loop.index0]['aspectRatioX']
                            }) }}
                            <!-- aspectRatioY -->
                            {{ forms.textField({
                                label: 'aspectRatioY',
                                instructions: "The aspectRatioY of the transformed images."|t('image-optimize'),
                                id: 'variants-' ~ loop.index0 ~ '-aspectRatioY',
                                name: 'variants[' ~ loop.index0 ~ '][aspectRatioY]',
                                value: field.variants[loop.index0]['aspectRatioY']
                            }) }}
                            <!-- quality -->
                            {{ forms.selectField({
                                label: "Quality"|t('app'),
                                instructions: "The quality of the transformed images."|t('image-optimize'),
                                id: 'variants-' ~ loop.index0 ~ '-quality',
                                name: 'variants[' ~ loop.index0 ~ '][quality]',
                                value: (field.variants[loop.index0]['quality'] ?? 82),
                                options: {
                                    '0': "Auto"|t('app'),
                                    '10': "Low"|t('app'),
                                    '30': "Medium"|t('app'),
                                    '60': "High"|t('app'),
                                    '82': "Very High (Recommended)"|t('app'),
                                    '100': "Maximum"|t('app')
                                },
                            }) }}
                            <!-- format -->
                            {% set formatOptions = [
                                {label: 'Auto', value: null},
                                {label: 'jpg', value: 'jpg'},
                                {label: 'png', value: 'png'},
                                {label: 'gif', value: 'gif'},
                            ] %}
                            {{ forms.selectField({
                                label: "Image Format"|t('app'),
                                instructions: "The image format that transformed images should use."|t('app'),
                                id: 'variants-' ~ loop.index0 ~ '-format',
                                name: 'variants[' ~ loop.index0 ~ '][format]',
                                value: (field.variants[loop.index0]['format'] ?? null),
                                options: formatOptions,
                            }) }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="buttons">
                <div class="btngroup">
                    <div class="btn add icon">{{ 'Add Variant' |t('image-optimize') }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
